#love4num-widget0 {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#love4num-widget0 input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.game-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.game-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
}

.game-option img {
  width: 100%;
  max-width: 60px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.game-label {
  display: block;
  background-color: #7a5dbf;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: auto;
}

#resultats {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.titre {
  color: #7a5dbf;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.numeros,
.etoiles,
.numero-complementaire {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  margin: 5px;
  font-size: 16px;
  color: #ffffff;
}

/* Loto-specific styles */
.loto-numeros {
  background-color: #00a2d9;
}

.loto-complementaire {
  background-color: #ea3946;
}

/* Euromillions-specific styles */
.euromillions-numeros {
  background-color: #001367;
}

.euromillions-etoiles {
  background-image: url("assets/etoile5.png"); /* Assurez-vous que le chemin est correct */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajustez selon la taille souhaitée */
  height: 40px; /* Ajustez selon la taille souhaitée */
  border-radius: 50%; /* Pour le style rond */
  color: #ffffff; /* Couleur du texte */
}

/* Eurodreams-specific styles */
.eurodreams-numeros,
.eurodreams-dream {
  background-color: #781ea6;
}

.eurodreams-dream {
  background-color: #ff3c69;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
}
