#love4num-widget {
  background-color: #c89d0d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #222120;
  text-align: center;
  max-width: 450px;
  margin: auto;
}

#love4num-widget h2,
#love4num-widget p {
  color: #222120;
}
/* #love4num-widget h2 {
  font-size: 18px;
} */

#loto-widget {
  max-width: 500px;
  margin: 20px auto;
}

#loto-widget input[type="text"],
#loto-widget button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

#loto-widget input[type="text"] {
  border: none;
}

#loto-widget button {
  background-color: #222120;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loto-widget button:hover {
  background-color: #f8e825;
}

#resultats {
  /* white-space: nowrap; */
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #c89d0d;
  border-radius: 5px;
  color: #222120;
  font-size: 20px;
  font-weight: bold;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

#resultats .titre {
  /* Styles pour rendre les titres plus attractifs */
  font-size: 18px; /* Taille adaptée pour les titres */
  color: #ffffff; /* Couleur blanche pour contraste avec le fond moutarde */
  margin: 20px 0 10px; /* Espacement pour séparer les titres des numéros */
  font-weight: bold; /* Mettez en gras pour attirer l'attention */
}

/* #resultats .numero {
  display: inline-block;
  background-color: #222120;
  color: #c89d0d;
  border-radius: 50%;
  font-size: 28px; 
  padding: 8px 16px; 
  margin: 0 5px;
} */

.game-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

.game-selection div {
  width: 30%; /* Largeur fixe pour chaque div pour garder les badges de la même taille */
  margin: 5px;
  background-color: #222120; /* Couleur de fond foncée pour les badges */
  border-radius: 4px; /* Bordures arrondies légères */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Organise l'image et le texte verticalement */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour effet de profondeur */
}

/* .game-img {
  width: 60px; 
  margin-top: 10px; 
} */

.game-label {
  margin: 10px 0; /* Espacement autour du texte */
  color: #ffffff; /* Texte blanc pour contraste */
  font-size: 14px; /* Taille de la police pour les légendes */
}

/* Style pour la phrase explicative sous l'input */
#loto-widget p {
  margin-top: 20px;
  color: #222120; /* Couleur du texte */
  font-weight: bold;
}

.game-img:hover {
  transform: scale(1.1); /* Effet de survol pour indiquer la sélection */
}

.game-option {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px; /* ou une autre taille selon votre design */
  padding: 10px;
  background-color: #222120;
  color: #ffffff;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.game-option:hover {
  transform: scale(1.05);
  background-color: #333; /* Légèrement plus clair que le fond pour le survol */
}

.game-option img {
  width: 60px; /* Taille ajustée pour l'image */
  margin-bottom: 5px;
}

.game-option .game-label {
  font-size: 14px;
  text-align: center;
}

/* Général pour tous les numéros */
.numeros,
.numero-complementaire,
.etoiles,
.numero-dream {
  display: inline-block;
  color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  font-size: 20px; /* Ajustez selon la taille désirée */
  font-weight: bold;
  text-align: center;
  width: 40px; /* Ajustez pour contrôler la taille du cercle */
  height: 40px; /* Assure que le cercle est parfait */
  line-height: 20px; /* Ajustez pour centrer le texte verticalement */
}

/* Styles spécifiques pour Loto */
.loto-numeros,
.loto-complementaire {
  background-color: #00a2d9; /* Bleu clair pour les numéros Loto */
}

.loto-complementaire {
  background-color: #ea3946; /* Rouge pour le numéro complémentaire Loto */
}

/* Styles spécifiques pour Euromillions */
/* .euromillions-numeros,
.euromillions-etoiles {
  background-color: #001367;
} */

.euromillions-numeros {
  background-color: #001367;
}

.euromillions-etoiles {
  background-image: url("assets/etoile5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* .euromillions-etoiles {
  background-color: #edbb08; 
} */

/* Styles spécifiques pour Eurodreams */
.eurodreams-numeros,
.eurodreams-dream {
  background-color: #781ea6; /* Violet pour les numéros Eurodreams */
}

.eurodreams-dream {
  background-color: #ff3c69; /* Rouge pour le numéro Dream Eurodreams */
}

.titre {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
